<?xml version="1.0" encoding="UTF-8"?>
<AlibreNeutralizerConfig>
    <!--The "Base" export path, relative to this config file's directory.
    This is essentially an "offset" for all the RelativeExportPath tags below.-->
    <basePath>./Neutral-Files</basePath>
    <ExportDirectiveList>
        <ExportDirective>
            <type>STEP203</type>
            <RelativeExportPath>./STEPs/{Number}_{Name}.stp</RelativeExportPath>
            <!--Purge this path of the given export file type before exporting.
            This is a path relative to basePath.
            It will NOT purge all files, just the exported types under this directive.
            For example, if you set type to STEP203, it will purge .STP and .STEP files,
            nothing else.
            
            You can also disable this and purge nothing before your export by simply removing this tag.-->
            <PurgeDirectoryBeforeExporting>./STEPs</PurgeDirectoryBeforeExporting>
            <EnableRootAssemblyExport>true</EnableRootAssemblyExport>
            <EnableSubassemblyExport>true</EnableSubassemblyExport>
            <EnablePartExport>true</EnablePartExport>
        </ExportDirective>
        <ExportDirective>
            <type>STL</type>
            <RelativeExportPath>./STLs/{Number}_{Name}.stl</RelativeExportPath>
            <EnableRootAssemblyExport>true</EnableRootAssemblyExport>
            <EnableSubassemblyExport>true</EnableSubassemblyExport>
            <EnablePartExport>true</EnablePartExport>
        </ExportDirective>
        <ExportDirective>
            <type>STEP214</type>
            <RelativeExportPath>./Combined/{Supplier}/{Number}/{Name}.stp</RelativeExportPath>
            <PurgeDirectoryBeforeExporting>./Combined</PurgeDirectoryBeforeExporting>
            <EnableRootAssemblyExport>true</EnableRootAssemblyExport>
            <EnableSubassemblyExport>true</EnableSubassemblyExport>
            <EnablePartExport>true</EnablePartExport>
        </ExportDirective>
        <ExportDirective>
            <type>SAT</type>
            <RelativeExportPath>./Combined/{Supplier}/{Number}/{Name}.sat</RelativeExportPath>
            <PurgeDirectoryBeforeExporting>./Combined</PurgeDirectoryBeforeExporting>
            <EnableRootAssemblyExport>true</EnableRootAssemblyExport>
            <EnableSubassemblyExport>true</EnableSubassemblyExport>
            <EnablePartExport>true</EnablePartExport>
        </ExportDirective>
        <ExportDirective>
            <type>STL</type>
            <RelativeExportPath>./Combined/{Supplier}/{Number}/{Name}.stl</RelativeExportPath>
            <PurgeDirectoryBeforeExporting>./Combined</PurgeDirectoryBeforeExporting>
            <EnableRootAssemblyExport>true</EnableRootAssemblyExport>
            <EnableSubassemblyExport>true</EnableSubassemblyExport>
            <EnablePartExport>true</EnablePartExport>
        </ExportDirective>
    </ExportDirectiveList>
</AlibreNeutralizerConfig>